<%= link_to pages_dunajvisla_path do %>
  <% image_tag 'budvp1.png' , :class => "static_image"%>
<% end %>
<div class="block">
  <%= link_to "https://www.minzp.sk/files/oblasti/voda/koncepcne-a-planovacie-dokumenty/casovy-vecny-harmonogram.pdf", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg ">Zverejnenie na pripomienkovanie verejnosti</button>
    <% end %>

      <button type="button" class="btn btn-secondary btn-lg" disabled>Seminár v rámci konzultácií s verejnosťou</button>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Vyhodnotenie zaslaných pripomienok</button>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Výstupný dokument</button>
</div>
