
<h1>Čo je to vodný plán?</h1>
<%= link_to image_url('vodnyplan1.jpeg'), target: :_blank do %>
<%= image_tag 'vodnyplan1.jpeg', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('vodnyplan2.jpeg'), target: :_blank do %>
<%= image_tag 'vodnyplan2.jpeg', :class => "vodnyplan_image"%>
<% end %>
