<%= link_to pages_vodny_plan_path do %>
  <%= image_tag 'budvp1.png', :class => "static_image"%>
<% end %>
<div class="block">
  <%= link_to pages_dunajvisla_path do %>
      <button type="button" class="btn_new btn-primary btn-lg" >Plány manažmentu povodia Dunaja a Visly</button>
    <% end %>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Plány manažmentu povodňového rizika SR</button>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Plán rozvoja verejných vodovodov a verejných kanalizácií</button>
</div>
