<%= image_tag 'staryvp.png', :class => "static_image"%>


<%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-sr.pdf", target: :_blank do %>
  <button type="button" class="btn btn-primary btn-lg">Vodný plán Slovenskej republiky platný v rokoch 2009-2015</button>
<% end %>
<%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-sr.pdf", target: :_blank do %>
  <button type="button" class="btn btn-primary btn-lg">Vodný plán Slovenskej republiky platný v rokoch 2009-2015</button>
<% end %>
