<a href="https://www.bioclio.sk/"><%= image_tag ("staryvp.png"), width: '50%' %></a>
<a href="https://www.bioclio.sk/"><%= image_tag ("terazvp.png"), width: '50%' %></a>
<a href="https://www.bioclio.sk/"><%= image_tag ("budvp.png"), width: '50%' %></a>
