<%= link_to pages_dunajvisla_path do %>
  <% image_tag 'budvp1.png' , :class => "static_image"%>
<% end %>
<div class="block">
    <%= link_to "https://docs.google.com/forms/d/e/1FAIpQLSf4rlAjCNZr75xGOsb2Pw8s4bio8aLdT4B5F8LAce9kUE3xCQ/viewform?usp=sf_link", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg ">Podnety od verejnosti (dotazník)</button>
    <% end %>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Seminár v rámci konzultácií s verejnosťou (pripravujeme)</button>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Zverejnenie na pripomienkovanie verejnosti významných vodohospodárskych problémov (zverejnenie 22.12.2019-22.06.2020)</button>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Vyhodnotenie zaslaných pripomienok</button>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Výstupný dokument</button>
</div>
