// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_image {
  border: 1px solid #FFFF; width: 50%; margin-bottom: 15px; background-color: #FFFF;
}

img:hover {border-color: #A9A9; border-style: solid;
}

.static_image {
  width: 50%; margin-bottom: 15px;
}
.btn {
  display: block; margin-bottom: 15px; color: white;
}


.btn_new {
  display: block; margin-bottom: 15px; color: black;
}

.btn_old {
  display: block; margin-bottom: 15px; color: black;
}

body {
  padding-top: 60px;
}
.vodnyplan_image {
  width: 50%; border: 1px solid #0000; margin-bottom: 15px;
}

#left {
  float: left;
}

#right {
  float: right;

}
