// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_image {
  border: 2px solid #FFFF; width: 50%; margin-top: 15px; background-color: #FFFF;
}

img:hover {border-color: #F25; border-style: dotted;
}

.static_image {
  width: 50%
}
